nav {
    display: inline;
}
body {
    background-color: lightblue;
  }
html{
    font-family: Roboto;
    text-align: center;
    justify-content: center;
}
h1{
    color: darkslateblue;
    
}
.first_work{
    background-color: mintcream;
    border-style: solid;
    border-color: peru;
}